<div id="maincontent">
	<div class="jumbotron">
		<!-- CITE: http://ecampus.oregonstate.edu/online-degrees/ -->
		<img src="http://ecampus.oregonstate.edu/includes/2017/images/osu-logo.svg" type="image/svg+xml" onerror="this.src='/includes/2017/images/osu-logo@2x.png'; this.onerror=null;" alt="Oregon State University">
	    <h1> Library Database System</h1>
	    <p> This webpage was created for my Database Course - CS 340</p>
	</div> 
</div>