<% include ./partials/header %>
<div class="row" style="    margin: auto;
    width: 75%;
    padding: 10px;">
	<div class="col-md-9">
		<style>
		.rTable    { display: table; }
		.rTableRow       { display: table-row; }
		.rTableHeading    { display: table-header-group; }
		.rTableBody    { display: table-row-group; }
		.rTableFoot    { display: table-footer-group; }
		.rTableCell, .rTableHead  { display: table-cell; }
		.rTable {
		    	display: table;
		    	width: 100%;
		}
		.rTableRow {
		    	display: table-row;
		}
		.rTableHeading {
		    	display: table-header-group;
		    	background-color: #ddd;
		}
		.rTableCell, .rTableHead {
		    	display: table-cell;
		    	padding: 3px 10px;
		    	border: 1px solid #999999;
		}
		.rTableHeading {
		    	display: table-header-group;
		    	background-color: #ddd;
		    	font-weight: bold;
		}
		.rTableFoot {
		    	display: table-footer-group;
		    	font-weight: bold;
		    	background-color: #ddd;
		}
		.rTableBody {
		    	display: table-row-group;
		}
		</style>
		<h2>My Sensors</h2>
		<div class="rTable">
			<div class="rTableRow">
				<div class="rTableHead"><strong>Sensor Model</strong></div>
				<div class="rTableHead"><span style="font-weight: bold;">Pin #</span></div>
				<div class="rTableHead">Image</div>
			</div>
			<% sensors.forEach(function(sensor){ %>
			<div class="rTableRow">
				<div class="rTableCell">DHT<%=sensor.sensor%></div>
				<div class="rTableCell"><%=sensor.pin%></div>
				<div class="rTableCell">
					<div class="thumbnail" style="width: 100px">
						<img class="img-responsive" src="https://components101.com/sites/default/files/components/DHT11-Sensor.jpg">
					</div>
				</div>
				<div>
					<a class="btn btn-warning" href="/sensors/<%=sensor._id%>/edit">Edit</a>
	                <form action="/sensors/<%=sensor._id%>?_method=DELETE" method="POST" class="delete-form">
	                    <button class="btn btn-danger">Delete</button>
	                </form>
	            </div>
			</div>
			<% }); %>
		</div>
		<div class="well">
	        <!--Setting up the add new comment button that is used for collapsing-->
	        <div class="text-right">
	            <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
	            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Sensor</a>
	        </div>
	        <!--Comment section title-->
	        <h4><strong>Sensors <i class="fas fa-thermometer-three-quarters"></i></strong></h4>
	        <!--Collapse Add a comment form START-->
	        <div class="collapse" id="collapseComment">
	            <div class="well" style="border-left: 5px solid #00C851;">
	                <!--If the user is logged in, show the new comment form-->
	                <h4>Add your sensor <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
	                <form id="add-comment-form" action="/sensors" method="POST">
	                    <div class="form-group">
	                    	<select name="model">
	                    		<option value="-1" selected="selected" disabled>Select Your Sensor Model:</option>
    							<option value="11">DHT11</option>
    							<option value="12">DHT22</option>
  							</select>
  							<select name="pin">
	                    		<option value="-1" selected="selected" disabled>Select Your Pin #:</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
			                    <option value="5">5</option>
			                    <option value="6">6</option>
			                    <option value="12">12</option>
			                    <option value="13">13</option>
			                    <option value="16">16</option>
			                    <option value="17">17</option>
			                    <option value="18">18</option>
			                    <option value="19">19</option>
			                    <option value="20">20</option>
			                    <option value="21">21</option>
			                    <option value="22">22</option>
			                    <option value="23">23</option>
			                    <option value="24">24</option>
			                    <option value="25">25</option>
			                    <option value="26">26</option>
			                    <option value="27">27</option>
  							</select>
	                    </div>
	                    <div class="form-group">
	                        <button class="btn btn-success btn-sm">Add Sensor <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
	                    </div>
	                </form>
	            </div>
	        </div>
	        <!--Collapse Add a comment form END-->
	        <hr>
		</div>
	</div>
</div>
<% include ./partials/footer %>